.modal {
    box-sizing: border-box;
    height: 90%;
    left: 50%;       
    padding: 2% 0;
    position: fixed;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;      
    z-index: 999;

    @media (min-width: "1024px") {
        width: 80%;      
    }

    img {
        cursor: pointer;
        margin-right: 2%;
        position: absolute;
        right: 0;
        width: 40px;

        @media (min-width: "1024px") {
           margin-left: 3%;
            width: 60px;  
        }
    }

    .more {
        padding: 0;
    }

    @media (max-width: "1024px") and (orientation: landscape) {
        height: 100%;
    }  
}
