.more {
    color: $white;
    font-family: $font-medea;
    text-align: center;
    text-transform: uppercase;
    
    h1 {
        font-size: 60px;
    }

    h3 {
        font-size: 12px;
    }

    span {
        font-size: 18px;
        margin-left:5px;
    }
}