.more {
    color: white;
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    
    @media (max-height: "680px"){
        padding: 0;
    }

    @media (max-width: "1024px"){
        padding: 5% 0;
    }

    h1 {
        font-size: 60px;

        @media (max-width: "1024px"){
            font-size: 80px;
        }
    }

    h3 {
        font-size: 12px;

        @media (max-width: "1024px"){
            font-size: 32px;
        }
    }

    span {
        font-size: 18px;
        margin-left:5px;
    }
}