.share {
    background-color: $medium-gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transform:translateY(-50%) rotate(270deg);
    position: fixed;
    right: -30px;
    top: 50%;

    @media (max-width: "1024px"){
        font-size: 25px;
    }
}