.synopsis {
    background-image: url("../img/3.jpg");
    background-size: cover;

    article {
        background-color: rgba(0,0,0,0.5);
        color:#fff;
        height: 55vh;        
        padding: 2% 0;
        width: 50%; 

        @media (max-width: "1024px") {
            width: 100%;
        }   
        @media (max-width: "1024px") and (orientation: landscape) {
            height: 74%;
            padding: 0 3%;
        }   
    }

    h2 {
        padding: 2% 0 10%;
        font-size: 40px;
        text-align: center;  

        @media (max-width: "480px"){
            font-size: 53px;           
        }
        @media (max-width: "1024px") {
            font-size: 48px;
        }       
        @media (max-width: "1024px") and (orientation: landscape) {
            padding: 0 0 2%; 
        }       
    }

    p {
        font-size: 22px;
        width: 60%;

        @media (max-width: "480px") {
            font-size: 35px;          
        }
        @media (max-width: "1024px") {
            font-size: 30px;
        }
        @media (max-width: "1024px") and (orientation: landscape) {
            width: 100%;
        }
    }

    .more {
        margin-bottom: 10%;

        @media (max-width: "1024px") and (orientation: landscape) {
            margin-bottom: 4%;
        }
    }
}

    