.teaser {
    background-color: #000;
    
    iframe {
        height: 100%;
        width: 100%;
    }
    .teaser-video {
        height: 60%;
        margin-top: 30px;
        text-align: center;
        width: 100%;   

        @media (min-width: "1024px") {
            height: 70%;
            width: 90%;          
        }     
    }
}